# Swift
.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Configuration
config.json
config.plist
*.local.json

# IDEs
.vscode/
.idea/
*.xcodeproj
*.xcworkspace

# Logs
*.log
